@import 'src/scss/settings/colors';
@import 'src/scss/settings/fonts';

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: $font-base;
  font-size: 18px;
  font-weight: normal;
  padding: 15px;

}

.signIn-btn {
  border: 1px solid $font-color;
}